asgiref
attrs
beautifulsoup4
bleach
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
drf-spectacular
inflection
jsonschema
jsonschema-specifications
pillow
psycopg2-binary
PyJWT
python-dateutil
python-dotenv
pytz
PyYAML
referencing
rpds-py
soupsieve
sqlparse
tinycss2
typing_extensions
uritemplate
webencodings
